.footerList {
  color: #fff;

  h3 {
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
    padding-top: 42px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      cursor: pointer;
      color: rgba(255, 255, 255, 0.6);
      font-size: 16px;
      font-weight: 500;
      margin: 30px 0;
    }
  }
}

@media screen and (max-width: 1000px) {
  .footerList {
    margin: 0 auto;
    width: 225px;
  }
}

@media screen and (max-width: 500px) {
  .footerList {
    h3 {
      text-align: center;
    }
  }

  .notExpanded {
    display: none;
  }

  .expanded {
    display: block;
  }
}
