.nav {
  :global main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
    max-width: 1318px;
    padding: 40px 0;

    .hamburger-lines {
      cursor: pointer;
      display: none;
      height: 26px;
      width: 32px;
      top: 17px;
      left: 20px;
      z-index: 2;
      flex-direction: column;
      justify-content: space-between;

      .line {
        display: none;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #0e2431;
      }
    }

    .navMenu {
      display: flex;
      justify-content: space-between;
      width: 75%;

      .navOptions {
        color: #99b8af;
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        list-style: none;
        width: 80vw;

        li {
          cursor: pointer;

          &:hover {
            transform: scale(1.25);
          }
        }

        .active {
          color: #b311ff;
        }
      }

      .navRight {
        display: grid;
        place-items: end;
        width: 100%;

        .contactUs {
          border: none;
          cursor: pointer;
          outline: none;
          background-color: #b311ff;
          color: #fff;
          font-size: 20px;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 15px;
          padding: 9px 28px;
        }
      }
    }
  }

  svg {
    color: white;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
}

// Hamburger
.line1 {
  transform: rotate(45deg);
  transition: transform 0.4s ease-in-out;
  transform-origin: 0% 0%;
}

.line2 {
  transform: scaleY(0);
  transition: transform 0.2s ease-in-out;
}

.line3 {
  transform: rotate(-45deg);
  transition: transform 0.4s ease-in-out;
  transform-origin: 0% 100%;
}

@media screen and (max-width: 1000px) {
  .nav {
    :global main {
      position: relative;

      .hamburger-lines {
        display: flex;

        .line {
          display: block;
        }
      }

      .navMenu {
        background-color: rgb(228, 213, 213);
        display: none;
        position: absolute;
        width: auto;
        right: 0;
        top: 80px;

        .navOptions {
          background: #ecf0f1;
          // box-shadow: 0px 5px 10px 0px #aaa;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 200px;

          li {
            margin: 0;
            padding: 20px 0;
            width: 100%;
            text-align: center;

            &:hover {
              background: #3498db;
              color: #fff;
              transform: none;
            }
          }
        }

        .navRight {
          background: #ecf0f1;

          &:hover {
            background: #3498db;

            .contactUs {
              background-color: #04b35f;
            }
          }

          .contactUs {
            margin: 20px auto;
          }
        }
      }

      .menuOpen {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  svg {
    display: none;
  }
}
